{% if app.request.hasPreviousSession %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-dismissable alert-success">
            {{ flashMessage }}<br>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-dismissable alert-danger">
            {{ flashMessage }}<br>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-dismissable alert-info">
            {{ flashMessage }}<br>
        </div>
    {% endfor %}
{% endif %}
