{% for transition in workflow_transitions(camera)|slice(0, 1) %}
<li class="nav-item">
    <strong>
        <a class="nav-link">Status: {{ transition.froms|first }}</a>
    </strong>
</li>
{% endfor %}
