{% extends "base.html.twig" %}
{% set active_page = 'channel' %}
{% block title %}{{ 'channels_list.page_title'|trans }}{% endblock title %}

{% block content %}
    <h2>Channel</h2>
    {% include 'components/flash.html.twig' %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ channel.name }}</td>
                <td>
                    <a href="{{ path('channel_create') }}" >
                        <span class="text-info fa fa-edit fa-lg"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
